# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import matplotlib
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv("./Chipotle.txt",sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [21]:
# clean the item_price column and transform it in a float
prices = [int(value[1 : -1]) for value in chipo.item_price]

# reassign the column with the cleaned prices
chipo.item_price = prices

# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity','choice_description'])

# chipo_filtered

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one_prod

# chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()
# chipo_one_prod[chipo_one_prod['item_price']>10]



chipo.query('price_per_item > 10').item_name.nunique()

TypeError: 'float' object is not subscriptable

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

### Step 6. Sort by the name of the item

In [18]:
chipo.item_name.sort_values().reset_index()

      index          item_name
0      3389  6 Pack Soft Drink
1       341  6 Pack Soft Drink
2      1849  6 Pack Soft Drink
3      1860  6 Pack Soft Drink
4      2713  6 Pack Soft Drink
...     ...                ...
4617   2384  Veggie Soft Tacos
4618    781  Veggie Soft Tacos
4619   2851  Veggie Soft Tacos
4620   1699  Veggie Soft Tacos
4621   1395  Veggie Soft Tacos

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [27]:
chipo.sort_values(by='item_price',ascending=False)['item_name'][0]

'Chips and Fresh Tomato Salsa'

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [31]:
items = chipo.item_name.value_counts()
items['Veggie Salad Bowl']

18

### Step 9. How many times did someone order more than one Canned Soda?

In [36]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20