# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [15]:
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))


print(s1, s2, s3)

0     4
1     2
2     1
3     2
4     1
     ..
95    3
96    4
97    2
98    4
99    2
Length: 100, dtype: int32 0     2
1     2
2     2
3     1
4     2
     ..
95    2
96    1
97    3
98    2
99    1
Length: 100, dtype: int32 0     29806
1     18931
2     24940
3     16975
4     14302
      ...
95    14767
96    16980
97    20595
98    20302
99    17086
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [17]:
data = pd.concat([s1,s2,s3],axis=1)
data.head()

   0  1      2
0  4  2  29806
1  2  2  18931
2  1  2  24940
3  2  1  16975
4  1  2  14302

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [19]:
data.columns=['bedrs', 'bathrs', 'price_sqr_meter']
data.head()

   bedrs  bathrs  price_sqr_meter
0      4       2            29806
1      2       2            18931
2      1       2            24940
3      2       1            16975
4      1       2            14302

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [29]:
bigcolumn = pd.concat([s1,s2,s3],axis=0)
bigcolumn = bigcolumn.to_frame()


bigcolumn.head()

   0
0  4
1  2
2  1
3  2
4  1

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [23]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [30]:
bigcolumn.reset_index(drop=True, inplace=True)

In [31]:
bigcolumn

         0
0        4
1        2
2        1
3        2
4        1
..     ...
295  14767
296  16980
297  20595
298  20302
299  17086

[300 rows x 1 columns]